.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px); /* 100vh - header height - footer height */
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    color: #9b59b6;
    margin-bottom: 1rem;
}

.wave-emoji {
    font-size: 5rem;
    animation: wave 2s infinite;
    display: inline-block;
}

@keyframes wave {
    0% { transform: rotate(0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate(0.0deg) }
    100% { transform: rotate(0.0deg) }
}

.hero p {
    font-size: 1.2rem;
}

@media (max-width: 600px) {
    .hero-buttons {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 80%; /* Make buttons take up more width on small screens */
    }
}

.hero-buttons {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #9b59b6;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.5s ease, opacity 0.5s ease;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #8e44ad;
    transform: translateY(-3px);
}

/* Fly-in animation */
.fly-in-btn {
    opacity: 0;
    transform: translateY(20px); /* Start slightly below */
}

.fly-in-btn.show {
    opacity: 1;
    transform: translateY(0);
}
