.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px); /* 100vh - header height - footer height */
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    color: #9b59b6;
    margin-bottom: 1rem;
}

.wave-emoji {
    font-size: 5rem;
    animation: wave 2s infinite;
    display: inline-block;
}

@keyframes wave {
    0% { transform: rotate(0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate(0.0deg) }
    100% { transform: rotate(0.0deg) }
}

.hero p {
    font-size: 1.2rem;
}
